$def with (namestr, form_entities, rele_text, page=1,fullpath='/')  


		<form name = "search" method="post">
			<textarea name="subject" rows="5" cols="80">$namestr</textarea>
			<br/>
			$for entity in form_entities
				<input type="checkbox" name="entities" value=$:entity[0] $:entity[1]>$:entity[0]
			<input type="submit" value="submit"/>
		</form>

	$if rele_text is not None :  
		<div id="content">
		<h2> Return </h2>
		<form name = "feedback" method="post">
	    <table>
		$for i in range(len(rele_text)):
			<tr>
				<td> $rele_text[i]['url'] </td>
				<td> $rele_text[i]['title'] </td>
				<td> $rele_text[i]['description'] </td>
				<td> <input type="checkbox" name="relelinks" value=$:i >
				
			</tr>
		</table>
		<input type="submit" value="requery" />
		</form>
		</div>