$def with (namestr, form_entitys, rele_text, page=1,fullpath='/')  


		<form name = "search" method="post">
			<textarea name="subject" rows="5" cols="80">$namestr</textarea>
			<br/>
			$for entitys in form_entitys
				<input type="checkbox" name="entitys" value=$:entitys[0] $:entitys[1]>$:entitys[0]
			<input type="submit" value="submit"/>
		</form>

	$if rele_text is not None :  
		<div id="context">
		<h2> Return </h2>
	    <table>
		$for row in rele_text[1]:
			<tr>
				<td> $row[0] </td>
				<td> $row[1] </td>
				<td> $row[2] </td>
				<td> $row[3] </td>
			</tr>
		</table>
		</div>
		$if page>1:
			<a href="$:(fullpath+'&page=')$:(page-1)" mce_href="page:$(page-1)">page up</a>
		$for i in range(1,rele_text[0]+1)
			$if page !=i:
				<a href="$:(fullpath+'&page=')$:i" mce_href="page:$:i">$:i</a>
			$else:
				 $i
		$if page<rele_text[0]:
			<a href="$:(fullpath+'&page=')$:(page+1)" mce_href="page:$(page+1)">page down</a>