$def with (namestr, form_entities, rele_text, page=1,fullpath='/')  


		<form name = "search" method="post">
		<table>
		<tr>
			<td class="content">
			<textarea name="subject" rows="5">$namestr</textarea>
			</td>
		</tr>
		<tr>
			<td class="content">
				$if len(form_entities)>0:
				 	We guess that you are interested in ...
			</td>
		</tr>
		<tr>
			<td class="content">
			<table>
				$if len(form_entities)>0:
					<td class="check">
					<div class="entities">
					$for entity in form_entities:
						<input type="radio" name="entities" value=$:entity[0] $:entity[1]>$:entity[0]
					</div>
					</td>
				<td>
				<button type="submit" class="button">submit</button>
				</td>
			</table>
			</td>
		</tr>
		</table>
		</form>

	$if rele_text is not None and len(rele_text)>0 :  
		<div class="content">
			<h2> Result </h2>
		<form name = "feedback" method="post">
	    <dl>
		$for i in range(len(rele_text)):
			<dd>
				<table>
					<tr>
					
						<td> <input type="checkbox" name="relelinks" value=$:i > </td>
						<td class="title">  <a href=$:rele_text[i]['url']> $:rele_text[i]['title']</a></td>
					</tr>
					<tr> 
						<td> </td>
						<td class="content"> $:rele_text[i]['description'] </td>
					</tr>
				</table>
			</dd>
		</dl>
		<button type="submit" class="button" formaction=$(fullpath+'&requery=true')>requery</button>
		</form>
		</div>